* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  padding-top: 65px;
  background-color: #0e0e10;
  color: #fff;
}

/*Header*/
nav {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-link {
  font-size: 3rem;
  font-weight: bold;
  color: #a970ff;
  text-decoration: none;
  padding: 0 20px;
  display: block;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  display: block;
  align-items: center;
  font-weight: bold;
}

nav a:hover {
  color: #a970ff;
}

.links-container a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #a970ff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.links-container a:hover::after {
  width: 100%;
}
nav .home-link {
  margin-right: auto;
}
#sidebar-active {
  display: none;
  cursor: pointer;
}
.open-sidebar-button,
.close-sidebar-button {
  display: none;
  cursor: pointer;
}

/*login & register.html*/
#login-message {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  display: none;
}

#login-message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

#login-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

/* Shared styles for both Register and Login forms */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #d9cab3;
  border-radius: 8px;
  background-color: #f8efe5;
}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #1c1221;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.form-container input:focus {
  border-color: #f8efe5;
  outline: none;
  background-color: #f8efe5;
}

.form-container button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #0f1422;
  background-color: #a970ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
  background-color: #a970ff;
}

.form-container p {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #0f1422;
}

.form-container p a {
  color: #a970ff;
  text-decoration: none;
  font-weight: 600;
}

.form-container p a:hover {
  text-decoration: underline;
}

/* index.html */
#trending {
  max-width: 1300px;
  background-color: #1f1f23;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

#trending h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

#trending-posts {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
}

#trending-posts img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#trending-posts img:hover {
  filter: brightness(0.8);
  transition: filter 0.3s ease;
}

#trending-posts {
  color: #fff;
  overflow: hidden;
}

#trending-posts .post-title {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

#trending-posts .post-author,
#trending-posts .post-date {
  font-size: 0.9rem;
  color: #a1adb8;
  margin: 0;
}

#older-posts {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}
.posts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post {
  display: flex;
  background-color: #1f1f23;
  color: #fff;
  overflow: hidden;
  height: 150px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.post:hover {
  background-color: #1f1f2388;
}

.post-image-box {
  flex: 0 0 150px;
  max-width: 150px;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-date {
  font-size: 0.875em;
  color: #a1adb8;
  margin-bottom: 5px;
}

.post-title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 5px 0;
  color: #fff;
}

.post-excerpt {
  font-size: 0.95em;
  color: #a1adb8;
}

.see-more-link {
  color: #1c1221;
  text-decoration: underline;
  cursor: pointer;
}

.see-more-link {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.carousel-container {
  position: relative;
  max-width: 1100px;
  padding-bottom: 50px;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
}

.carousel-item img {
  width: 90%; /* Ensure the image scales to the container width */
  max-width: 100%;
  height: auto;
  max-height: 650px; /* Cap the height for large screens */
  border-radius: 8px;
  margin: 10px 0;
  object-fit: cover;
}

.carousel-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.carousel-item p {
  font-size: 1em;
  margin-bottom: 15px;
}

button.next,
button.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.next {
  right: 10px;
}

button.prev {
  left: 10px;
}

button.read-more {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #a970ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.read-more:hover {
  background-color: #a970ffb9;
}
.post-link {
  text-decoration: none;
  color: inherit;
}

/*post/index.html*/
.single-post-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #1f1f23;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
}

.post-body {
  font-size: 1.1em;
  line-height: 1.6;
}

.share-button {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background-color: #a970ff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.share-button:hover {
  background-color: #a970ffb9;
}

/* Responsive Styling */

@media (min-width: 900px) {
  .carousel-item img {
    max-height: 600px;
  }

  .carousel-item {
    padding: 10px;
  }
  #trending-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .carousel-item h2 {
    font-size: 2em;
  }
  .carousel-item p {
    font-size: 1.1em;
  }
  .post {
    max-width: 90%;
  }
  .posts-container {
    grid-template-columns: 1fr;
  }
  .post {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .post-image-box {
    max-width: 100%;
    height: 150px;
  }

  .post-thumbnail {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .carousel-item img {
    max-height: 200px;
  }

  .carousel-button {
    padding: 5px 10px;
  }

  .carousel-container {
    max-width: 90%;
  }
  #trending-posts {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-container {
    padding: 1.5rem;
  }

  .form-container input,
  .form-container button {
    font-size: 0.9rem;
  }

  #register-form {
    padding: 1.5rem;
    margin: 1rem;
  }

  #register-form button[type="submit"] {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  #register-form input[type="text"],
  #register-form input[type="password"],
  #register-form input[type="email"] {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .post {
    max-width: 100%;
  }
}

@media (max-width: 866px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav .home-link {
    display: none;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: center;
  }
  nav a::after {
    display: none;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
    .welcome {
      height: 40vh;
    }
  }
}

@media (min-width: 1024px) {
  .carousel-item h2 {
    font-size: 2.5em;
  }
  .carousel-item p {
    font-size: 1.2em;
  }
}

/*Footer*/
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
}
.footer {
  background-color: #1f1f23;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}
.footer-col h4 ::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 800;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #a970ff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #fff;
  background-color: #a970ff;
}
